In [ ]:
import os
import pandas as pd

# Folder containing the CSV files
folder_path = 'data'

# List to hold individual DataFrames
dfs = []

# Loop through all files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        df = pd.read_csv(file_path)
        dfs.append(df)

# Concatenate all DataFrames
combined_df = pd.concat(dfs, ignore_index=True)

115485

In [5]:
combined_df.head()

,MTU (CET/CEST),Area,Sequence,Day-ahead Price (EUR/MWh),Intraday Period (CET/CEST),Intraday Price (EUR/MWh)
0,01/01/2021 00:00:00 - 01/01/2021 01:00:00,BZN|ES,Without sequence,50.87,NaN,NaN
1,01/01/2021 01:00:00 - 01/01/2021 02:00:00,BZN|ES,Without sequence,48.19,NaN,NaN
2,01/01/2021 02:00:00 - 01/01/2021 03:00:00,BZN|ES,Without sequence,44.68,NaN,NaN
3,01/01/2021 03:00:00 - 01/01/2021 04:00:00,BZN|ES,Without sequence,38.50,NaN,NaN
4,01/01/2021 04:00:00 - 01/01/2021 05:00:00,BZN|ES,Without sequence,36.80,NaN,NaN

In [6]:
# Extract start datetime string (before " - ")
start_times = combined_df['MTU (CET/CEST)'].str.split(' - ').str[0]

# Remove any " (CET)" or " (CEST)" suffix if present
start_times_clean = start_times.str.replace(r' \(CET\)| \(CEST\)', '', regex=True)

# Now parse cleaned datetime strings with dayfirst=True (since format is dd/mm/yyyy)
df['Start DateTime'] = pd.to_datetime(start_times_clean, dayfirst=True)

# Define filter range
start_date = pd.to_datetime('2021-05-21')
end_date = pd.to_datetime('2025-04-30')

# Filter rows within the range inclusive
filtered_df = df[(df['Start DateTime'] >= start_date) & (df['Start DateTime'] <= end_date)]

# Drop helper column if you want
filtered_df = filtered_df.drop(columns=['Start DateTime'])

filtered_df.head()

,MTU (CET/CEST),Area,Sequence,Day-ahead Price (EUR/MWh),Intraday Period (CET/CEST),Intraday Price (EUR/MWh)
3359,21/05/2025 00:00:00 - 21/05/2025 01:00:00,BZN|PT,Without sequence,35.00,NaN,NaN
3360,21/05/2025 01:00:00 - 21/05/2025 02:00:00,BZN|PT,Without sequence,30.20,NaN,NaN
3361,21/05/2025 02:00:00 - 21/05/2025 03:00:00,BZN|PT,Without sequence,28.65,NaN,NaN
3362,21/05/2025 03:00:00 - 21/05/2025 04:00:00,BZN|PT,Without sequence,22.03,NaN,NaN
3363,21/05/2025 04:00:00 - 21/05/2025 05:00:00,BZN|PT,Without sequence,26.72,NaN,NaN

In [7]:
filtered_df.to_parquet('filtered_data.parquet', index=False)